<h1>Secrets</h1>

<h4>Secrets</h4>
<% @secrets.each do |s| %>
  <p><%= s.content %></p>
  <p><%= s.likes.count %> likes</p>
  <% if current_user.secrets_liked.exclude?(s) %>
  <form action='/likes' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= s.id %>'>
    <input type='submit' value='Like'>
  </form>

  <% else %>
  <form action='/likes/<%= s.id %>' method='post'>
    <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
    <input type='hidden' name='secret_id' value='<%= s.id %>'>
    <input type='hidden' name='_method' value='delete'>
    <input type='submit' value='Unlike'>
  </form>
  <% end %>
  <% if current_user == s.user %>
    <form action='/secrets/<%= s.id %>' method='post'>
      <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
      <input type='hidden' name='_method' value='delete'>
      <input type='submit' value='Delete'>
    </form>
  <% end %>
  <hr>
<% end %>
